<template>
  <div class="tes border h-screen bg-white">
    <div class="isi">
      <div class="card shadow-card w-72 text-center py-2 px-2">
        <div class="header-mang text-xl font-bold">ABSEN</div>
        <form class="max-w-md mx-auto mt-8 mb-0 space-y-4">
          <div
            data-aos="fade-right"
            data-aos-once="true"
            data-aos-duration="800"
          >
            <label for="attendanceUser" class="sr-only">Name</label>

            <div class="relative">
              <input
                name="attendanceUser"
                id="attendanceUser"
                v-model="absen.attendanceUser"
                required
                type="text"
                class="w-full p-2 pr-12 text-sm border rounded-lg shadow-sm"
                placeholder="Your Name"
              />
            </div>
          </div>
        </form>
        <div class="mt-8 mb-2">
          <button
            @click="addAbsen"
            class="
              text-sm
              font-medium
              relative
              inline-flex
              items-center
              px-12
              py-2
              overflow-hidden
              text-white
              bg-yellow-500
              rounded
            "
          >
            Absen
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import DataService from "../service/DataService";

export default {
  name: "FormAbsen",
  data() {
    return {
      time: "",
      date: "",
      absen: {
        id: null,
        attendanceUser: "",
        attendanceDate: "",
        attendanceTime: "",
      },
    };
  },

  methods: {
    printDate: function () {
      return new Date().toISOString().slice(0, 10);
    },
    printTime: function () {
      return new Date().toLocaleTimeString();
    },

    addAbsen() {
      var data = {
        attendanceUser: this.absen.attendanceUser,
        attendanceDate: this.printDate(),
        attendanceTime: this.printTime(),
      };
      DataService.addAbsen(data)
        .then((response) => {
          this.absen.id = response.data.id;
          console.log(response.data);
          this.$swal({
            icon: "success",
            title: "Berhasil",
            text: "Absen Success!!!",
            timer: 1500,
            showCancelButton: false,
            showConfirmButton: false,
          });
          this.$router.push("/absen");
        })
        .catch((e) => {
          console.log(e);
        });
    },
  },
};
</script>
