<template>
  <!-- OPSI 1 -->
  <div class="tes card-1 h-screen">
    <div class="isi bg-white">
      <div class="card w-72 text-center py-2">
        <div class="header-mang text-xl font-bold">
          SCAN QR CODE ABSEN
        </div>
        <div class="img">
          <img src="../assets/Absen_Page.jpeg" alt="qr code mang">
        </div>
        <div class="keterangan">
          <span class="nama text-lg font-bold text-gray-900">
            Absen SMK Bina Nusantara Semarang
          </span>
          <div class="font-semibold text-gray-900">
            Tanggal: {{ dnow }}
          </div>
        </div>
        <div class="footer mt-3">
          <a @click="downloadImg()"
            class="relative inline-flex items-center px-8 py-3 overflow-hidden cursor-pointer text-white bg-[#333333] hover:text-white rounded group focus:outline-none focus:ring">
            <span class="absolute right-0 transition-transform translate-x-full group-hover:-translate-x-4">
              <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
              </svg>
            </span>
            <span class="text-sm font-medium transition-all group-hover:mr-4">
              Download
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- OPSI 2 -->
  <div class="tes opsi-2 h-screen bg-[#eaeae8]">
    <div class="isi">
      <div class="card-opsi-2 w-[30rem] py-2 text-center">
        <div class="judul text-lg font-bold">
          SCAN QR CODE ABSENSI
        </div>
        <div class="img">
          <img class="w-[10rem]" src="../assets/Absen_Page.jpeg" alt="qr code mang">
        </div>
        <div class="footer mt-3">
          <a @click="downloadImg()"
            class="relative inline-flex items-center px-8 py-3 overflow-hidden cursor-pointer text-black bg-[#eaeae8] rounded group active:bg-[#eaeae8] focus:outline-none focus:ring">
            <span class="absolute right-0 transition-transform translate-x-full group-hover:-translate-x-4">
              <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
              </svg>
            </span>
            <span class="text-sm font-medium transition-all group-hover:mr-4">
              Download
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

const Month = [
  "Januari",
  "Februari",
  "Maret",
  "April",
  "Mei",
  "Juni",
  "Juli",
  "Agustus",
  "September",
  "Oktober",
  "November",
  "Desember",
];

const D = new Date();

export default {
  name: 'HomeAbsen',
  data() {
    return {
      dnow: `${D.getDate()} ${Month[D.getMonth()]}, ${D.getFullYear()}`
    };
  },
  methods: {
    downloadImg() {
      axios({
        url: "http://localhost:8081/img/Absen_Page.137edab8.jpeg",
        method: "GET",
        responseType: "blob"
      }).then((response) => {
        var fileUrl = window.URL.createObjectURL(new Blob([response.data]))
        var fileLink = document.createElement("a")
        fileLink.href = fileUrl

        fileLink.setAttribute("download", "qr_attndc.jpeg")
        document.body.appendChild(fileLink)

        fileLink.click()
      });
    },
  },
}
</script>

<style>
.card-1 {
  background-color: #333333;
}

.shadow-card {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.tes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-opsi-2 {
  border-radius: 5px;
  background-color: white;
  box-shadow: 1px 1px 1px 3px #5e5d66;
}

.isi {
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}
</style>