<template>
  <div class="box">
    <Sidebar />
    <div class="main">
      <Navbar />
      <div class="container h-screen tesss">
        <div class="w-9/12">
          <div class="flex justify-between items-center">
            <div class="mt-4 mb-4">
              <h1 class="text-3xl font-bold">Attendance List</h1>
            </div>
            <button @click="download" type="submit" class="rounded bg-yellow-500 w-32 h-10 text-white font-medium">
              Download
            </button>
          </div>
          <div class="
              block
              p-6
              bg-white
              rounded-lg
              border border-gray-200
              shadow-md
            ">
            <div class="flex gap-5">
              <div class="w-[14rem]">
                <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only">Search</label>
                <div class="relative">
                  <div class="
                      flex
                      absolute
                      inset-y-0
                      left-0
                      items-center
                      pl-3
                      pointer-events-none
                    ">
                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500" fill="none" stroke="currentColor"
                      viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                    </svg>
                  </div>
                  <input type="search" class="
                      block
                      p-4
                      pl-10
                      w-full
                      text-sm text-gray-900
                      bg-gray-50
                      rounded-lg
                      border border-gray-300
                      focus:ring-blue-500 focus:border-blue-500
                    " placeholder="Search By Name" v-model="name" id="name" name="name" required />
                </div>
              </div>
              <div class="w-[14rem]">
                <input type="date" class="
                    block
                    p-4
                    w-full
                    text-sm text-gray-900
                    bg-gray-50
                    rounded-lg
                    border border-gray-300
                    focus:ring-blue-500 focus:border-blue-500
                  " v-model="date" />
              </div>
              <div class="reset">
                <div>
                  <button @click="retrieveAbsen" type="button" class="
                      p-2.5
                      ml-2
                      text-sm
                      font-medium
                      text-white
                      bg-blue-700
                      rounded-lg
                      border border-blue-700
                      hover:bg-blue-800
                      focus:ring-4 focus:outline-none focus:ring-blue-300
                      dark:bg-blue-600
                      dark:hover:bg-blue-700
                      dark:focus:ring-blue-800
                    ">
                    Search
                  </button>
                </div>
              </div>
            </div>
            <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
              <table class="mt-5 w-full text-sm text-left text-gray-500">
                <thead class="text-gray-800 bg-gray-50">
                  <tr class="text-center">
                    <th scope="col">No</th>
                    <th scope="col" class="py-3 px-6">Nama</th>
                    <th scope="col" class="py-3 px-6">Tanggal</th>
                    <th scope="col" class="py-3 px-6">Waktu</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(absen, index) in absen" :key="index" class="bg-white border-b">
                    <td class="text-center">
                      {{ index + 1 }}
                    </td>
                    <td class="py-4 px-6">
                      {{ absen.attendanceUser }}
                    </td>
                    <td class="py-4 px-6 text-center">
                      {{ absen.attendanceDate }}
                    </td>
                    <td class="py-4 px-6 text-center">
                      {{ absen.attendanceTime }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import $ from "jquery";
import Navbar from "../components/Navbar.vue";
import Sidebar from "../components/Sidebar.vue";
import DataService from "../service/DataService";
import axios from "axios";

export default {
  name: "ListAbsen",
  components: {
    Navbar,
    Sidebar,
  },
  data() {
    return {
      absen: [],
    };
  },
  methods: {
    retrieveAbsen() {
      if (this.name != null) {
        DataService.searchByName(this.name)
          .then((response) => {
            this.absen = response.data;
            console.log(response.data);
          })
          .catch((e) => {
            console.log(e);
          });
      } else if (this.date != null) {
        DataService.searchByDate(this.date)
          .then((response) => {
            this.absen = response.data;
            console.log(response.data);
          })
          .catch((e) => {
            console.log(e);
          });
      } else {
        DataService.getAll()
          .then((response) => {
            this.absen = response.data;
          })
          .catch((e) => {
            console.log(e);
          });
      }
    },
    download() {
      if (this.name != null) {
        axios({
          url: `http://localhost:8080/api/absen/download?name=${this.name}`,
          method: "GET",
          responseType: "blob",
        }).then((response) => {
          var fileURL = window.URL.createObjectURL(new Blob([response.data]));
          var fileLink = document.createElement("a");

          fileLink.href = fileURL;
          fileLink.setAttribute("download", "attendance-list.xlsx");
          document.body.appendChild(fileLink);

          fileLink.click();
        });
      } else if (this.date != null) {
        axios({
          url: `http://localhost:8080/api/absen/download?date=${this.date}`,
          method: "GET",
          responseType: "blob",
        }).then((response) => {
          var fileURL = window.URL.createObjectURL(new Blob([response.data]));
          var fileLink = document.createElement("a");

          fileLink.href = fileURL;
          fileLink.setAttribute("download", "attendance-list.xlsx");
          document.body.appendChild(fileLink);

          fileLink.click();
        });
      } else {
        axios({
          url: "http://localhost:8080/api/absen/download",
          method: "GET",
          responseType: "blob",
        }).then((response) => {
          var fileURL = window.URL.createObjectURL(new Blob([response.data]));
          var fileLink = document.createElement("a");

          fileLink.href = fileURL;
          fileLink.setAttribute("download", "attendance-list.xlsx");
          document.body.appendChild(fileLink);

          fileLink.click();
        });
      }
    },
  },
  mounted() {
    this.retrieveAbsen();
    $(document).ready(function () {
      $("#sidebarCollapse").on("click", function () {
        $("#sidebar").toggleClass("active");
        $("#navv").toggleClass("active");
      });
    });
  },
};
</script>

<style>
table,
th,
td {
  border: 1px solid;
  padding: 5px;
}

.container {
  border-radius: 5px;
  padding: 20px;
}

.main {
  overflow: scroll;
  overflow-x: hidden;
  width: 100%;
  max-height: 100vh;
  min-height: 100vh;
}

.box {
  display: flex;
}

@media (min-width: 640px) {
  table {
    display: inline-table !important;
  }

  thead tr:not(:first-child) {
    display: none;
  }
}

.tesss {
  display: flex;
  justify-content: center;
}

.reset {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>