<template>
  <div id="navv" class="header navvv">
    <div class="icon">
      <h2 id="sidebarCollapse"><i class="fa-solid fa-bars text-3xl"></i></h2>
    </div>
    <div class="image">
      <img src="https://secure.gravatar.com/avatar/28d34c35eb9243204ebb658e530a9633?s=46&d=identicon" />
    </div>
  </div>
</template>
<script>
import $ from "jquery";

export default {
  name: "NavbarHeader",
  mounted() {
    $(document).ready(function () {
      $("#sidebarCollapse").on("click", function () {
        $("#sidebar").toggleClass("active");
        $("#navv").toggleClass("active");
      });
    });
  },
}
</script>
<style scoped>
.header {
  padding: 10px;
  display: flex;
  background-color: rgb(209, 209, 209);
  justify-content: space-between;
}

.icon {
  color: rgb(68, 68, 68);
}

.image img {
  border-radius: 50%;
  width: 40px;
}

#sidebarCollapse {
  cursor: pointer;
}
</style>