<template>
  <nav id="sidebar">
    <ul class="list-unstyled components">
      <li>
        <a href="/admin"><i class="fas fa-calendar-check"></i>&nbsp;&nbsp;Attendance</a>
      </li>
    </ul>
  </nav>
</template>
<script>
import $ from "jquery";

export default {
  name: "SideBar",
  mounted() {
    $(document).ready(function () {
      $("#sidebarCollapse").on("click", function () {
        $("#sidebar").toggleClass("active");
        $("#navv").toggleClass("active");
      });
    });
  },
};
</script>

<style>
@import "../assets/style/Sidebar.css";
</style>
